<% include ../partials/head %>

<% include ../partials/dialogs %>


<div>
	<h2>Files test</h2>
	<div id="files-path"></div>
	<div id="files-container"></div>
	<div id="files_empty" style="display:none">
	 		<img src="/imgs/null-results.png">
	 		<p>No files, try searching again</p>
	</div>
</div>



<% include ../partials/js %>
<script src="/js/files.js"></script>

<% include ../partials/footer %>