<% include ../partials/head %> <% include ../partials/dialogs %>
<section class="sample-content">
	<h2>Transfer</h2>
	<p class="subhead mdl-color-text--grey-700">
		Transfer photos from google photos to a drive.
	</p>

	<!-- <div class="filter-group">
		<h3>Select trello task</h3>
		<ul class="mdl-list" id="trello"></ul>
	</div> -->
	<div class="filter-group">
		<h3>Select destination</h3>
		<ul class="mdl-list" id="google-drive"></ul>
	</div>
	<div class="filter-group">
		<h3>Select google photos</h3>
		<ul class="mdl-list" id="google-photos"></ul>
	</div>
</section>

<% include ../partials/js %> <% include ../partials/footer %>
